<html>
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Users</h1>
    <ul>
    <% datas.forEach(function(data) { %>
      <li><%= data.title %></li>
      <li><%= data.price %></li>
    <% }); %>
    </ul>
  </body>
</html>