.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    background: #EEE;
    flex: 1;
}

.innerContainer {
    height: 100%;
    margin: auto;
    max-width: 1200px;
    padding: 50px 30px;
}

.bookContainer {
    background: white;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    padding: 30px;
    display: flex;
    gap: 20px;
    color: #333;
    margin-bottom: 20px;
}

.bookInfo {
    flex: 1
}

.cover {
    width: 300px;
}

.cover img {
    width: 100%;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.rating {
    margin-bottom: 10px;
}

.bookDetail {
    color: #888;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.bookDetail ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

.bookDetail label {
    font-weight: 500;
    margin-right: 10px;
}

.bookDetail span {
    display: inline-block;
}

.bookPrices {
   margin-bottom: 10px;
}

.bookPrices table {
    border-collapse: collapse;
    width: 100%;
}

.bookPrices table thead {
    background: #6fcfc2;
    font-weight: 500;
    color: white;
    border: 0;
}

.bookPrices table thead td {
    border: 0;
}

.bookPrices table td {
    border: 1px solid #CCC;
    padding: 5px;
}

.bookPrices table td.price {
    color: #ff3060;
    font-weight: bold;
}

.bookPrices  table td a {
    color: #497a78;
    text-decoration: underline;
}

.excerpt {
    white-space: pre-line;
    font-size: 14px;
    font-style: italic;
}

.relatedBooks {
    background: white;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    padding: 30px;
    color: #333;
    margin-bottom: 20px;
}

.relatedBooks h3 {
    margin: 0
}

.relatedBookList {
    display: flex;
    overflow: auto;
    padding: 15px;
}